/* Font */
* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Modifica Pulsanti */
.btn-primary {
    --bs-btn-bg: #7C3AED;
    --bs-btn-border-color: #7C3AED;
    --bs-btn-hover-bg: #6D28D9;
    --bs-btn-hover-border-color: #6D28D9;
}

.btn-outline {
    --bs-btn-color: #7C3AED;
    --bs-btn-border-color: #7C3AED;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7C3AED;
    --bs-btn-hover-border-color: #7C3AED;
}

.navbar-toggler {
    border: #7C3AED;
    color: #7C3AED;
}

.fa-bars {
    color: #7C3AED;
}

.form-control:focus {
    border-color: #7C3AED;
    box-shadow: 0 0 0 0.25rem rgba(124, 58, 237, 0.25);
}


/* Custom */
.header-img {
    background-image: linear-gradient(transparent, transparent, #2B3035), url(..\img\header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ls-wide {
    letter-spacing: 1px;
}

.cr-color {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.t-shadow {
    text-shadow: 3px 3px 8px #292929;
}

.height-custom {
    min-height: 40vh;
}

.card-w {
    width: 350px;
}

.top-10 {
    top: 10%;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}