.height-custom {
    min-height: 60vh;
}

.card-w {
    width: 350px;
}

.top-10 {
    top: 10%;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}